.hoofd {
	background-image:url('http://31.media.tumblr.com/tumblr_m7xnrnzicQ1rz5t4oo1_500.gif');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
.hoofd h1 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	font-family: 'Shift', sans-serif;
}

.hoofd p {
	text-align: center;
	font-family: 'Shift', sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: #0000FF;
}

.hobby {
	text-align: center;
	font-size: 20px;
	font-family: 'Shift', sans-serif;
}

.nav {
	color: #330000;
	font-size: 15px;
	text-align: center;
}

.school h2 {
	font-size: 30px;
	font-weight:bold;
	text-align: center;
	font-family: 'Shift', sans-serif;
}
.school p{
	font-size: 20px;
	text-align: center;
	font-family: 'Shift', sans-serif;
}

.menu li{
	padding: 10px;
	background:#f00;
	font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    display: inline-block;
}

.wrapper {
	max-width: 1000px;
	margin: auto;	
	background-image:url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQ_DFK3zW1hDTzcvjxsgbtSPAANYXenfVr0c_YAovJSlHlKQzgT');
	background-repeat: no-repeat;
    background-size: cover;
}

.motivatie {
	background-image:url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQ_DFK3zW1hDTzcvjxsgbtSPAANYXenfVr0c_YAovJSlHlKQzgT');
	height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
.motivatie h2 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	font-family: 'Shift', sans-serif;
}
.motivatie p {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	font-family: 'Shift', sans-serif;
}

.voorwoord{
	font-size: 25px;
	font-family: 'Shift', sans-serif;
}
.nav2 {
	font-size: 20px;
	font-family: 'Shift', sans-serif;
}

html {
	background-image: url('http://wallpaperforcomputer.net/uploads/posts/2013-05/1369841181_3d_fantasy_masterpiece-nine_world-the_official_game_wallpaper_19_1440x900.jpg');
	background-repeat: no-repeat;
    background-size: cover;
}
.menu ul {
	background:blue;
}	
